/*Клиенты*/
.clients {
  padding: 94px 0 94px 0;

  &-list {
    margin-top: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
}

.clients-list li a {
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 170px;
  height: 90px;
}
.clients-list li:not(:last-child) {
  margin-right: 30px;
}
.clients-list li a svg {
  fill: #afb1b8;
}

.clients-list li a:hover svg,
.clients-list li a:focus svg {
  fill: $blue-color;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.clients-list li a:hover,
.clients-list li a:focus {
  border: 1px solid $blue-color;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .clients-list {
    flex-flow: wrap;
    li {
      margin-bottom: 30px;
      margin-right: 30px;
      a {
        width: 226px;
        height: 90px;
      }
    }

    & li:nth-child(2n + 2) {
      margin-right: 30px;
    }
    & li:nth-child(3n) {
      margin-right: 0px;
    }
  }
}
@media screen and (max-width: 767px) {
  .clients-list {
    flex-flow: wrap;
    li {
      margin-bottom: 30px;
      a {
        width: 210px;
        height: 90px;
      }
    }

    & li:not(:last-child) {
      margin-right: 0px;
    }
    & li:nth-child(2n-1) {
      margin-right: 30px;
    }
  }
}

@media screen and (max-width: 479px) {
  .clients-list {
    flex-direction: column;
  }
  .clients-list li {
    margin-right: 0px;
    &:nth-child(2n-1) {
      margin-right: 0px;
    }
  }
}
